<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyj.dao.vo.RecommondDataMapper" >

    <!--<resultMap id="BaseResultMap" type="com.lyj.model.vo.RecommondData" >-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="url" property="url" jdbcType="VARCHAR" />-->
        <!--<result column="label" property="label" jdbcType="VARCHAR" />-->
        <!--<result column="pid" property="pid" jdbcType="INTEGER" />-->
        <!--<result column="userId" property="userId" jdbcType="INTEGER" />-->
        <!--<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="pidName" property="pidName" jdbcType="VARCHAR" />-->
        <!--<result column="isShare" property="isShare" jdbcType="BIT" />-->
        <!--<result column="shareTime" property="shareTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="userName" property="userName" jdbcType="VARCHAR" />-->
    <!--</resultMap>-->


    <select id="getRecommondData" resultType="com.lyj.model.vo.RecommondData" parameterType="java.lang.Integer">
      SELECT url.*,user.userName FROM url LEFT JOIN USER ON url.userId=user.id
        WHERE url.id >= (SELECT FLOOR(RAND() * (SELECT MAX(url.id) FROM url)))
        ORDER BY url.id LIMIT #{limit};
    </select>

</mapper>